<launch>
  <arg default="true" name="visual" />
  <arg default="true" name="sim" />
  <arg default="false" name="rpi" />
  <arg default="true" name="obstacles" />
  <arg default="true" name="path_planning" />
  <arg default="true" name="auto_master" />
  <arg default="false" name="hw_api" />
  <arg default="true" name="gamepad" />
  <arg default="50.0" name="gamepad_rate" />
  <arg default="xbox" name="gamepad_type" />
  <arg default="/dev/input/js0" name="gamepad_input" />
  <arg default="true" name="gulliview" />
  <group if="$(arg sim)">
    <node name="sim" pkg="truck_automatic_ctrl" type="sim.py" />
  </group><group unless="$(arg sim)"><node if="$(arg gulliview)" name="gulliview" pkg="gulliview_server" type="gulliview" />
  <group if="$(arg hw_api)"><node name="cmd_node" pkg="truck_hw_api" type="cmd_node.py" />
  <node name="trailersensor" pkg="truck_hw_api" type="trailersensor.py" />
</group><node name="master" pkg="truck_master" type="master.py" />
<group if="$(arg gamepad)"><node name="joy_node" pkg="joy" type="joy_node">
  <param name="autorepeat_rate" type="double" value="$(arg gamepad_rate)" />
  <param name="coalesce_rate" type="double" value="$(eval 1.0 / arg('gamepad_rate'))" />
  <param name="dev" type="string" value="$(arg gamepad_input)" />
</node><node name="gamepad" pkg="truck_manual_ctrl" type="gamepad.py"><param name="rate" type="double" value="$(arg gamepad_rate)" /><param name="type" type="string" value="$(arg gamepad_type)" /></node></group></group><group if="$(arg visual)"><node name="visualization" pkg="truck_visualization" type="visualization.py" /><node args="-d $(find truck_visualization)/config.rviz" name="rviz" pkg="rviz" type="rviz" /></group><node if="$(arg path_planning)" name="path_planning" pkg="path_planning" type="path_planning_node.py"><param name="rpi" type="boolean" value="$(arg rpi)" /></node><node if="$(arg auto_master)" name="auto_master" pkg="truck_automatic_ctrl" type="auto_master.py"><param name="sim" type="boolean" value="$(arg sim)" /></node></launch>
